@charset "UTF-8";

 

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

 

body {
   background-color: rgb(8, 8, 8);  
}

main {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif; 
}

.saude {
    background-image: linear-gradient(to right, orange, transparent);
   margin: 0px;
   font-size: 12px;
   color: black;
}

 

header { 
    width: 90%;
    padding: 10px;
}

 

h1 {

    color: orange;
    width: 70%;
    max-width: 800px; 
    font-family: 'Stick No Bills', sans-serif;
    font-size: 30px;
    padding-left: 20px;
}

.historia {  
    padding: 5px;
    background-image:linear-gradient(to right, rgb(15, 15, 15),  transparent);
    width: 90%;
    margin: auto;
    text-align: justify;
    max-width: 800px; 
    font-family: 'Stick No Bills', sans-serif;
    font-size: 23px;
    color: orange;
   
    
}

 

h2 , h3 {
    
    width: 90%;
    margin: auto;
    padding: 5px;
    max-width: 800px; 
    color: orange;
    font-family: 'Stick No Bills', sans-serif;
    text-align: justify;
    font-size: 23px;
   
   
}

 

nav {
    padding: 3px;
    width: 70%;
   font-size: 10px;
   font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

 

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;  
} 

article {
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 16px;
   
}

 

p {
    padding: 5px;
    width: 90%;
    margin: auto;
    text-align: justify;
    max-width: 800px; 
    font-family: 'Athiti', sem serifa;  
   color: rgb(202, 202, 202);
}


.aviso {
    font-size: 12px;
    color: red;
    font-style: italic;
}


.nome {
 font-size: 12px;
margin-top: -18px;
margin-bottom: 20px;
font-family: 'Athiti', sem serifa;



}

.nome > a {
    color: black;
    font-style: italic;
    color: orange;
   
}

.nome2 {
    color: orange;
    background-image:linear-gradient(to right, rgb(15, 15, 15) ,  transparent);
    width: 90%;
    margin: auto;
    padding: 5px;
    max-width: 800px; 
    margin-top: -4px;   
    
   }

 img {
    margin-top: 10px;
    margin-left: -10px;
    text-align: center;
    width: 90%;
    max-width: 800px;
 }

 .video  {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
    
 }

 .video >iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.aviso > a {
    color: red;
    
}

.imc {
    background-color: white;
    font-size: 12px;
    padding: 5px;
    width: 90%;
    margin: auto;
    text-align: center;
    max-width: 800px; 
    color: blue;   
}

 a {
    text-decoration: none;
   
}

 footer {
    color: orange;
   
    font-size: 12px;
    padding: 2px;
    margin-top: 20px;
    
   
 }